---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Button from "../components/ui/Button.astro";
import Hr from "../components/ui/Hr.astro";
/* import GitHubHeatmap from "../components/homepage/GitHubHeatmap.svelte"; */
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="text-text px-12 py-12">
      <div class="flex flex-col gap-4 w-full lg:w-[40%]">
        <h1 class="text-5xl font-bold">Hi there! 👋</h1>
        <p class="text-xl">
          Hey there! I'm Mahad, a software engineer and a tech enthusiast. I
          love to build things and share my knowledge with others! I'm currently
          working on a few projects and writing blog posts about them. Stay
          tuned!
        </p>
        <div class="flex flex-row gap-2">
          <a href="/blog"><Button>Read my blog</Button></a>
        </div>
      </div>
      <Hr />
      <div class="flex flex-col gap-4 w-full lg:w-[40%]">
        <!-- <GitHubHeatmap client:load /> -->
        <p class="font-semibold">This site is a work in progress.</p>
        <p>Please excuse the mess!</p>
      </div>
    </main>
    <Footer />
  </body>
</html>
